:root{
  --win-width: 100vw;
}
@-webkit-keyframes c{
  0% { stroke-dasharray: 900; stroke-dashoffset: 900; background-color: "none";}
  100% { stroke-dasharray: 900; stroke-dashoffset: 0; background-color: "rgb(0, 255, 0)"; }
}
body{
  width: var(--win-width);
  height: 250vh;
  background-image: url("https://c1.staticflickr.com/4/3182/3052194640_0394efbbf7_b.jpg");
  background-repeat: repeat;
  background-size: var(--win-width) 100vh;
}
#frame{
  position: fixed;
  margin-top: 0vh;
  margin-left: 0vw;
  width: var(--win-width);
  height: 20vh;
  background-color: none;
  z-index: 1;
}
.frame2{
  position: absolute;
  margin-top: 100vh;
  width: var(--win-width);
  height: 100vh;
  background-image: url("https://c1.staticflickr.com/4/3182/3052194640_0394efbbf7_b.jpg");
  background-repeat: no-repeat;
  background-size: var(--win-width) 100vh;
  z-index: -2;
}
.name{
  position: fixed;
  /* stroke: #ccc; */
  stroke-width: "10";
  stroke-dasharray: 900;
  stroke-dashoffset: 0;
  animation: c 15s infinite;
}
#mySkills{
  position: absolute;
  margin-top: 100vh;
  margin-left: 10vw;
  width: 80vw;
  height: 70vh;
  background-color: none;
  /* background-image: url("./Images/trees2.jpg");
  background-size: 80vw 70vh;
  background-repeat: no-repeat;
  border: 2.5vw solid transparent;
  border-image: url("https://pixnio.com/free-images/textures-and-patterns/wall-texture/brick-wall-texture-pictures/texture-red-stone-wall-725x544.jpg") 10; */
  z-index: 0;
}
/* skillsbar css */
.progress-container{
  margin: inherit;
  padding: 5px;
}
.mover{
  margin-left: 1vw;
}
.moverIn{

}
.progress-box-outer{
  align: inline-block;
  margin-top: 2vh;
  margin-left: 0vw;
  width: 81vw;
  padding: 8px;
  background-color: #676767;
  background-image: url("./Images/trees3.jpg");
  background-size: 80vw 110vh;
  border: 3px solid black;
  border-style: inset;
  box-shadow: 5px 5px 10px 4px #000000;
}
.p-top{
  background-position: 0 100vh;
}
.p-2{
  background-position: 0 95vh;
}
.p-3{
    background-position: 0 90vh;
}
.p-4{
    background-position: 0 85vh;
}
.p-5{
    background-position: 0 80vh;
}
.p-6{
    background-position: 0 75vh;
}
.p-7{
    background-position: 0 70vh;
}
.p-8{
    background-position: 0 65vh;
}
.p-9{
    background-position: 0 60vh;
}
.p-10{
    background-position: 0 55vh;
}
.p-11{
    background-position: 0 50vh;
}
.info{
    margin-left: 1vw;
    font-size: 2.25vh;
    color: #ccc;
}
.progress-box-inner{
    text-shadow: -1px 0px 1px #ffffff;
    font-family: Oswald, serif;
    padding-left: 15px;
    border: 2px solid white;
    border-style: outset;
    box-shadow: 0px 0px 15px 3px #00ffaa;
    background-color: #888;
    color: #fff;
}
.infoText{
    margin-left: 3vw;
    padding-left: 2vw;
    width: 15vw;
    font-size: 3vh;
    color: #0f0;
    border: .3vw solid #bbb;
}
.python{
    width: 30vw;
}

#pyImg{
    margin-top: 2vh;
    margin-left: 22vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("./Images/python.jpg");
    background-size: 7vw 8vh;
    background-position: center;
    opacity: 1;
}
#pythonInfo{
    margin-top: 183vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}
.wordpress{
    width: 30vw;
}
#wordImg{
    margin-top: .5vh;
    margin-left: 22vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("./Images/wordPress.jpg");
    background-size: 8vw 8vh;
    background-position: center;
    opacity: 1;
}
#wordpressInfo{
    margin-top: 190vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}
.linux{
    width: 80vw;
}
#linuxImg{
    margin-top: .5vh;
    margin-left: 22vw;
    position: absolute;
    width: 7vw;
    height: 8vh;
    background-image: url("./Images/linux.jpg");
    background-size: 7vw 8vh;
    background-position: center;
    opacity: 1;
}
#linuxInfo{
    margin-top: 197.5vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}
.hTml{
    width: 50vw;
}
#htmlImg{
    margin-top: .5vh;
    margin-left: 22vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("./Images/html.jpg");
    background-size: 8vw 8vh;
    background-position: center;
    opacity: 1;
}
#cssImg{
    margin-top: .5vh;
    margin-left: 32vw;
    position: absolute;
    width: 6vw;
    height: 8vh;
    background-image: url("./Images/css.jpg");
    background-size: 6vw 8vh;
    background-position: center;
    opacity: 1;
}
#hTmlInfo{
    margin-top: 205vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}
.bootstrap{
    width: 15vw;
}
#bootstrapImg{
    margin-top: .5vh;
    margin-left: 22vw;
    position: absolute;
    width: 7vw;
    height: 8vh;
    background-image: url("./Images/bootstrap1.jpg");
    background-size: 7vw 8vh;
    background-position: center;
    opacity: 1;
}
#bootstrapInfo{
    margin-top: 212.5vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}
.javascript{
    width: 15vw;
}
#javascriptImg{
    margin-top: .5vh;
    margin-left: 22vw;
    position: absolute;
    width: 7vw;
    height: 8vh;
    background-image: url("./Images/javascript.jpg");
    background-size: 7vw 8vh;
    background-position: center;
    opacity: 1;
}
#javascriptInfo{
    margin-top: 220vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}
.bash{
    width: 80vw;
}
#bashImg{
    margin-top: .5vh;
    margin-left: 22vw;
    position: absolute;
    width: 7vw;
    height: 8vh;
    background-image: url("./Images/bash.jpg");
    background-size: 7vw 8vh;
    background-position: center;
    opacity: 1;
}
#bashInfo{
    margin-top: 227vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}
.java{
    width: 15vw;
}
#javaImg{
    margin-top: .5vh;
    margin-left: 22vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("./Images/java.jpg");
    background-size: 8vw 8vh;
    background-position: center;
    opacity: 1;
}
#javaInfo{
    margin-top: 234vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}
.android{
    width: 15vw;
}
#androidImg{
    margin-top: .5vh;
    margin-left: 22vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("./Images/android.jpg");
    background-size: 8vw 8vh;
    background-position: center;
    opacity: 1;
}
#androidInfo{
    margin-top: 242vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}
.cSharp{
    width: 20vw;
}
#cSharpImg{
    margin-top: .5vh;
    margin-left: 22vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("./Images/cSharp.jpg");
    background-size: 8vw 8vh;
    background-position: center;
    opacity: 1;
}
#cSharpInfo{
    margin-top: 249vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}
.apache{
    width: 50vw;
}
#apacheImg{
    margin-top: .5vh;
    margin-left: 22vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("./Images/apache.jpg");
    background-size: 8vw 8vh;
    background-position: center;
    opacity: 1;
}
#apacheInfo{
    margin-top: 257vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}
.nodejs{
    width: 15vw;
}
#nodeImg{
    margin-top: .5vh;
    margin-left: 22vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("./Images/nodejs.png");
    background-size: 8vw 8vh;
    background-position: center;
    opacity: 1;
}
#nodeInfo{
    margin-top: 264vh;
    margin-left: 15vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
}