/* stylesheet for networkingWebApp.html */
body{
  background-color: blue;
}
#wrapper{
  position: absolute;
  display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  width: 500px;
  height: 500px;
  background-color: #dfd;
}