:root{
  --win-width: 100vw;
}
@-webkit-keyframes c{
  0% { stroke-dasharray: 900; stroke-dashoffset: 900; background-color: "none";}
  100% { stroke-dasharray: 900; stroke-dashoffset: 0; background-color: "rgb(0, 255, 0)"; }
}

body{
  width: var(--win-width);
  height: 550vh;
  background-image: url("../Images/wall.jpg");
  background-repeat: repeat;
  background-size: var(--win-width) 100vh;
}
#frame{
  position: fixed;
  background-color: none;
  z-index: 1;
}
#frame2{
  position: absolute;
  margin-top: 0vh;
}
#buttons{
  position: absolute;
  margin-top: 7vh;
}
#frameAbout{
  cursor: pointer;
  position: fixed;
  margin-top: 11vh;
  margin-left: 3vw;
  width: 12vw;
  z-index: 1;
}
#frameSkills{
  cursor: pointer;
  position: fixed;
  margin-top: 11.5vh;
  margin-left: 22vw;
  width: 12vw;
  z-index: 1;
}
#frameProjects{
  cursor: pointer;
  position: fixed;
  margin-top: 11vh;
  margin-left: 40vw;
  width: 17vw;
  z-index: 1;
}
#frameLinks{
  cursor: pointer;
  position: fixed;
  margin-top: 11.25vh;
  margin-left: 62vw;
  width: 13vw;
  z-index: 1;
}
#frameEducation{
  cursor: pointer;
  position: fixed;
  margin-top: 11.5vh;
  margin-left: 77vw;
  width: 17vw;
  z-index: 1;
}
.name{
  position: fixed;
  /* stroke: #ccc; */
  stroke-width: "10";
  stroke-dasharray: 900;
  stroke-dashoffset: 0;
  animation: c 15s infinite;
}
#image{
  position: absolute;
  margin-top: 37vh;
  margin-left: 30vw;
  width: 40vw;
  height: 50vh;
  shape-outside: url("../Images/me.jpg");
  background-size: 40vw 50vh;
  float: center;
  border-radius: 25%;
  z-index: 0;
}
#aboutme{
  position: absolute;
  margin-top: 90vh;
  margin-left: 8vw;
  width: 80vw;
  height: 115vh;
  /* background-color: #999; */
  background-image: url("../Images/trees4.jpg");
  background-repeat: no-repeat;
  background-size: 80vw 115vh;
  border: 2.5vw solid transparent;
  z-index: 0;
}
.aboutText1{
  color: #3377ea;
  font-size: 7vh;
  line-height: 1vh;
  text-align: center;

}
.aboutText2{
  margin-left: 2vw;
  color: #00ffaa;
  font-size: 4vh;
  text-align: justify;
}
.aboutmain{
  margin-left: 1vw;
  margin-right: 1vw;
  color: #00ffaa;
  font-size: 3vh;
  line-height: 3vh;
  text-align: justify;
}
#skillsText{
  margin-left: 5vw;
  color: #fff;
  font-size: 3vh;
  opacity: 1;
}
#mySkills{
  position: absolute;
  margin-top: 220vh;
  margin-left: 6vw;
  width: 80vw;

  height: 70vh;
  background-color: none;
  /* background-image: url("./Images/trees2.jpg");
  background-size: 80vw 70vh;
  background-repeat: no-repeat;
  border: 2.5vw solid transparent;
  border-image: url("https://pixnio.com/free-images/textures-and-patterns/wall-texture/brick-wall-texture-pictures/texture-red-stone-wall-725x544.jpg") 10; */
  z-index: 0;
}


/* skillsbar css */
.progress-container{
  margin: 0vw;
  padding: 5px;
}
.mover{
  margin-left: 0vw;
}
.moverIn{

}
.progress-box-outer{
  align: inline-block;
  margin-top: 2vh;
  margin-left: 0vw;
  width: 81vw;
  padding: 8px;
  background-color: #676767;
  background-image: url("../Images/trees3.jpg");
  background-size: 80vw 110vh;
  border: 3px solid black;
  border-style: inset;
  box-shadow: 5px 5px 10px 4px #000000;
}
.bar{
  float: right;
  color: #fff;
}
.p-top{
  cursor: pointer;
  background-position: 0 100vh;
}
.p-2{
  cursor: pointer;
  background-position: 0 95vh;
}
.p-3{
  cursor: pointer;
  background-position: 0 90vh;
}
.p-4{
  cursor: pointer;
  background-position: 0 85vh;
}
.p-5{
  cursor: pointer;
  background-position: 0 80vh;
}
.p-6{
  cursor: pointer;
  background-position: 0 75vh;
}
.p-7{
  cursor: pointer;
  background-position: 0 70vh;
}
.p-8{
  cursor: pointer;
  background-position: 0 65vh;
}
.p-9{
  cursor: pointer;
  background-position: 0 60vh;
}
.p-10{
  cursor: pointer;
  background-position: 0 55vh;
}
.p-11{
  cursor: pointer;
  background-position: 0 50vh;
}
.p-12{
  cursor: pointer;
  background-position: 0 45vh;
}
.info{
  margin-left: 1vw;
  font-size: 2.25vh;
  color: #ccc;
}
.progress-box-inner{
  text-shadow: -1px 0px 1px #ffffff;
  font-family: Oswald, serif;
  padding-left: 1vw;
  border: .5vw solid white;
  border-style: outset;
  box-shadow: 0px 0px 15px 3px #00ffaa;
  background-color: #888;
  color: #00f;
}
.infoText{
  margin-left: 3vw;
  padding-left: 2vw;
  width: 30vw;
  font-size: 3vh;
  color: #0f0;
  border: .3vw solid #bbb;
}
.python{
  width: 30vw;
}
#pyImg{
  margin-top: 1.5vh;
  margin-left: 50vw;
  position: absolute;
  width: 8vw;
  height: 8vh;
  background-image: url("../Images/python.jpg");
  background-size: 8vw 8vh;
  background-position: center;

  opacity: 1;
}
#pythonInfo{
  margin-top: 118.5vh;
  margin-left: 10vw;
  position: absolute;
  width: 70vw;
  height: 40vh;
  background-color: #000067;
  border: 1vw black solid;
  opacity: 0;
  z-index: -1;
}
.wordpress{
  width: 30vw;
}
#wordImg{
  margin-top: .5vh;
  margin-left: 50vw;
  position: absolute;
  width: 8vw;
  height: 8vh;
  background-image: url("../Images/wordPress.jpg");
  background-size: 8vw 8vh;
  background-position: center;
  opacity: 1;
}
#wordpressInfo{
  margin-top: 127.5vh;
  margin-left: 10vw;
  position: absolute;
  width: 70vw;
  height: 50vh;
  background-color: #000067;
  border: 1vw black solid;
  opacity: 0;
  z-index: -1;
}
.linux{
  width: 75vw;
}
#linuxImg{
  margin-top: .5vh;
  margin-left: 50vw;
  position: absolute;
  width: 7vw;
  height: 8vh;
  background-image: url("../Images/linux.jpg");
  background-size: 7vw 8vh;
  background-position: center;
  opacity: 1;
}
#linuxInfo{
  margin-top: 136.5vh;
  margin-left: 10vw;
  position: absolute;
  width: 70vw;
  height: 55vh;
  background-color: #000067;
  border: 1vw black solid;
  opacity: 0;
  z-index: -1;
}
.hTml{
  width: 50vw;
}
#htmlImg{
  margin-top: .5vh;
  margin-left: 45vw;
  position: absolute;
  width: 8vw;
  height: 8vh;
  background-image: url("../Images/html.jpg");
  background-size: 8vw 8vh;
  background-position: center;
  opacity: 1;
}
#cssImg{
  margin-top: .5vh;
  margin-left: 60vw;
  position: absolute;
  width: 6vw;
  height: 8vh;
  background-image: url("../Images/css.jpg");
  background-size: 6vw 8vh;
  background-position: center;
  opacity: 1;
}
#hTmlInfo{
  margin-top: 145.5vh;
  margin-left: 10vw;
  position: absolute;
  width: 70vw;
  height: 100vh;
  background-color: #000067;
  border: 1vw black solid;
  opacity: 0;
  z-index: -1;
}
.bootstrap{
  width: 15vw;
}
#bootstrapImg{
  margin-top: .5vh;
  margin-left: 50vw;
  position: absolute;
  width: 7vw;
  height: 8vh;
  background-image: url("../Images/bootstrap1.jpg");
  background-size: 7vw 8vh;
  background-position: center;
  opacity: 1;
}
#bootstrapInfo{
  margin-top: 154.25vh;
  margin-left: 10vw;
  position: absolute;
  width: 70vw;
  height: 100vh;
  background-color: #000067;
  border: 1vw black solid;
  opacity: 0;
  z-index: -1;
}
.javascript{
  width: 15vw;
}
#javascriptImg{
  margin-top: .5vh;
  margin-left: 50vw;
  position: absolute;
  width: 7vw;
  height: 8vh;
  background-image: url("../Images/javascript.jpg");
  background-size: 7vw 8vh;
  background-position: center;
  opacity: 1;
}
#javascriptInfo{
  margin-top: 163vh;
  margin-left: 10vw;
  position: absolute;
  width: 70vw;
  height: 50vh;
  background-color: #000067;
  border: 1vw black solid;
  opacity: 0;
  z-index: -1;
}
.bash{
  width: 75vw;
}
#bashImg{
  margin-top: .5vh;
  margin-left: 50vw;
  position: absolute;
  width: 7vw;
  height: 8vh;
  background-image: url("../Images/bash.jpg");
  background-size: 7vw 8vh;
  background-position: center;
  opacity: 1;
}
#bashInfo{
  margin-top: 172vh;
  margin-left: 10vw;
  position: absolute;
  width: 70vw;
  height: 50vh;
  background-color: #000067;
  border: 1vw black solid;
  opacity: 0;
  z-index: -1;
}
.java{
  width: 15vw;
}
#javaImg{
  margin-top: .5vh;
  margin-left: 50vw;
  position: absolute;
  width: 8vw;
  height: 8vh;
  background-image: url("../Images/java.jpg");
  background-size: 8vw 8vh;
  background-position: center;
  opacity: 1;
}
#javaInfo{
    margin-top: 181vh;
    margin-left: 10vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
    z-index: -1;
}
.android{
    width: 15vw;
}
#androidImg{
    margin-top: .5vh;
    margin-left: 50vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("../Images/android.jpg");
    background-size: 8vw 8vh;
    background-position: center;
    opacity: 1;
}
#androidInfo{
    margin-top: 190vh;
    margin-left: 10vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
    z-index: -1;
}
.cSharp{
    width: 20vw;
}
#cSharpImg{
    margin-top: .5vh;
    margin-left: 50vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("../Images/cSharp.jpg");
    background-size: 8vw 8vh;
    background-position: center;
    opacity: 1;
}
#cSharpInfo{
    margin-top: 198.5vh;
    margin-left: 10vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
    z-index: -1;
}
.apache{
    width: 50vw;
}
#apacheImg{
    margin-top: .5vh;
    margin-left: 50vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("../Images/apache.jpg");
    background-size: 8vw 8vh;
    background-position: center;
    opacity: 1;
}
#apacheInfo{
    margin-top: 207.5vh;
    margin-left: 10vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
    z-index: -1;
}
.nodejs{
    width: 15vw;
}
#nodeImg{
    margin-top: .5vh;
    margin-left: 50vw;
    position: absolute;
    width: 8vw;
    height: 8vh;
    background-image: url("../Images/nodejs.png");
    background-size: 8vw 8vh;
    background-position: center;
    opacity: 1;
}
#nodeInfo{
    margin-top: 216.5vh;
    margin-left: 10vw;
    position: absolute;
    width: 70vw;
    height: 50vh;
    background-color: #000067;
    border: 1vw black solid;
    opacity: 0;
    z-index: -1;
}


@media only screen and (max-width: 380px){
    #frame{
        position: fixed;
        margin-top: 0vh;
        background-color: none;
        z-index: 1;
    }
    #frameAbout{
        cursor: pointer;
        position: fixed;
        margin-top: 11vh;
        margin-left: 3vw;
        width: 12vw;
        z-index: 1;
    }
    #frameSkills{
        cursor: pointer;
        position: fixed;
        margin-top: 11.5vh;
        margin-left: 22vw;
        width: 12vw;
        z-index: 1;
    }
    #frameProjects{
        cursor: pointer;
        position: fixed;
        margin-top: 11vh;
        margin-left: 40vw;
        width: 17vw;
        z-index: 1;
    }
    #frameLinks{
        cursor: pointer;
        position: fixed;
        margin-top: 11.25vh;
        margin-left: 62vw;
        width: 13vw;
        z-index: 1;
    }
    #frameEducation{
        cursor: pointer;
        position: fixed;
        margin-top: 11.5vh;
        margin-left: 77vw;
        width: 17vw;
        z-index: 1;
    }
    #aboutme{
          position: absolute;
          margin-top: 90vh;
          margin-left: 0vw;
          width: 95vw;
          height: 190vh;
          /* background-color: #999; */
          background-image: url("../Images/trees4.jpg");
          background-repeat: no-repeat;
          background-size: 95vw 190vh;
          border: 2.5vw solid transparent;
          z-index: 0;
        }
        .aboutText1{
          color: #3377ea;
          font-size: 4vh;
          line-height: 3vh;
          text-align: center;

        }
        .aboutText2{
          margin-left: 0vw;
          color: #00ffaa;
          font-size: 4vh;
          text-align: justify;
        }
        .aboutmain{
          margin-left: 1vw;
          margin-right: 1vw;
          color: #00ffaa;
          font-size: 3vh;
          line-height: 3vh;
          text-align: justify;
        }
        #mySkills{
          position: absolute;
          margin-top: 290vh;
          margin-left: 6vw;
          width: 80vw;
          height: 70vh;
          background-color: none;
          /* background-image: url("./Images/trees2.jpg");
          background-size: 80vw 70vh;
          background-repeat: no-repeat;
          border: 2.5vw solid transparent;
          border-image: url("https://pixnio.com/free-images/textures-and-patterns/wall-texture/brick-wall-texture-pictures/texture-red-stone-wall-725x544.jpg") 10; */
          z-index: 0;
        }
    .info{
        margin-left: 1vw;
        font-size: 2.25vh;
        color: #fff;
    }
    #pythonInfo{
        margin-top: 118vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 70vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #wordpressInfo{
        margin-top: 127vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 85vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #linuxInfo{
        margin-top: 135.25vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 100vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #hTmlInfo{
        margin-top: 144vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 100vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #bootstrapInfo{
        margin-top: 152.5vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 100vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #javascriptInfo{
        margin-top: 161vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 110vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #bashInfo{
        margin-top: 170vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 110vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #javaInfo{
        margin-top: 178.5vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 70vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #androidInfo{
        margin-top: 187vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 50vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #cSharpInfo{
        margin-top: 196vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 70vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #apacheInfo{
        margin-top: 204vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 70vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #nodeInfo{
        margin-top: 213vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 50vh;
        background-color: #670067;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
}

@media only screen and (max-width: 360px){
    #frame{
      position: fixed;
      margin-top: 0vh;
      background-color: none;
      z-index: 1;
    }
    #frameAbout{
      cursor: pointer;
      position: fixed;
      margin-top: 11vh;
      margin-left: 3vw;
      width: 12vw;
      z-index: 1;
    }
    #frameSkills{
      cursor: pointer;
      position: fixed;
      margin-top: 11.5vh;
      margin-left: 22vw;
      width: 12vw;
      z-index: 1;
    }
    #frameProjects{
      cursor: pointer;
      position: fixed;
      margin-top: 11vh;
      margin-left: 40vw;
      width: 17vw;
      z-index: 1;
    }
    #frameLinks{
      cursor: pointer;
      position: fixed;
      margin-top: 11.25vh;
      margin-left: 62vw;
      width: 13vw;
      z-index: 1;
    }
    #frameEducation{
      cursor: pointer;
      position: fixed;
      margin-top: 11.5vh;
      margin-left: 77vw;
      width: 17vw;
      z-index: 1;
    }
    #aboutme{
      position: absolute;
      margin-top: 90vh;
      margin-left: 0vw;
      width: 95vw;
      height: 190vh;
      /* background-color: #999; */
      background-image: url("../Images/trees4.jpg");
      background-repeat: no-repeat;
      background-size: 95vw 190vh;
      border: 2.5vw solid transparent;
      z-index: 0;
    }
    .aboutText1{
      color: #3377ea;
      font-size: 4vh;
      line-height: 3vh;
      text-align: center;

    }
    .aboutText2{
      margin-left: 0vw;
      color: #00ffaa;
      font-size: 4vh;
      text-align: justify;
    }
    .aboutmain{
      margin-left: 1vw;
      margin-right: 1vw;
      color: #00ffaa;
      font-size: 3vh;
      line-height: 3vh;
      text-align: justify;
    }
    #mySkills{
      position: absolute;
      margin-top: 290vh;
      margin-left: 6vw;
      width: 80vw;
      height: 70vh;
      background-color: none;
      /* background-image: url("./Images/trees2.jpg");
      background-size: 80vw 70vh;
      background-repeat: no-repeat;
      border: 2.5vw solid transparent;
      border-image: url("https://pixnio.com/free-images/textures-and-patterns/wall-texture/brick-wall-texture-pictures/texture-red-stone-wall-725x544.jpg") 10; */
      z-index: 0;
    }
    .info{
      margin-left: 1vw;
      font-size: 2.25vh;
      color: #fff;
    }
    #pythonInfo{
      margin-top: 315.875vh;
      margin-left: 6vw;
      position: absolute;
      width: 80vw;
      height: 75vh;
      background-color: #006767;
      border: 1vw black solid;
      opacity: 0;
      z-index: -1;
    }
    #wordpressInfo{
      margin-top: 329.875vh;
      margin-left: 6vw;
      position: absolute;
      width: 80vw;
      height: 95vh;
      background-color: #006767;
      border: 1vw black solid;
      opacity: 0;
      z-index: -1;
    }
    #linuxInfo{
      margin-top: 343.875vh;
      margin-left: 6vw;
      position: absolute;
      width: 80vw;
      height: 120vh;
      background-color: #006767;
      border: 1vw black solid;
      opacity: 0;
      z-index: -1;
    }
    #hTmlInfo{
      margin-top: 357.875vh;
      margin-left: 6vw;
      position: absolute;
      width: 80vw;
      height: 100vh;
      background-color: #006767;
      border: 1vw black solid;
      opacity: 0;
      z-index: -1;
    }
    #bootstrapInfo{
      margin-top: 347.875vh;
      margin-left: 6vw;
      position: absolute;
      width: 80vw;
      height: 100vh;
      background-color: #006767;
      border: 1vw black solid;
      opacity: 0;
      z-index: -1;
    }
    #javascriptInfo{
      margin-top: 357.875vh;
      margin-left: 6vw;
      position: absolute;
      width: 80vw;
      height: 130vh;
      background-color: #006767;
      border: 1vw black solid;
      opacity: 0;
      z-index: -1;
    }
    #bashInfo{
      margin-top: 367.875vh;
      margin-left: 6vw;
      position: absolute;
      width: 80vw;
      height: 120vh;
      background-color: #006767;
      border: 1vw black solid;
      opacity: 0;
      z-index: -1;
    }
    #javaInfo{
        margin-top: 377.875vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 100vh;
        background-color: #006767;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #androidInfo{
        margin-top: 387.875vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 100vh;
        background-color: #006767;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #cSharpInfo{
        margin-top: 397.875vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 70vh;
        background-color: #006767;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #apacheInfo{
        margin-top: 407.875vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 70vh;
        background-color: #006767;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
    #nodeInfo{
        margin-top: 417.875vh;
        margin-left: 6vw;
        position: absolute;
        width: 80vw;
        height: 50vh;
        background-color: #006767;
        border: 1vw black solid;
        opacity: 0;
        z-index: -1;
    }
}
